PORT=3000
JWT_SECRET="super_secret_key"
CORS_ORIGIN="*"
AUTH_SERVICE_URL="http://auth-service:3001"
INVENTORY_SERVICE_URL="http://inventory-service:3002"
ORDER_SERVICE_URL="http://order-service:3003"
DEALER_SERVICE_URL="http://dealer-service:3004"
ANALYTICS_SERVICE_URL="http://analytics-service:3005"
NOTIFICATION_SERVICE_URL="http://notification-service:3006"
